* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 50px;
    background-color: rgb(223, 215, 185);
    color: rgb(51, 51, 51);
}

header {
   padding:5px 0 ;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #0D1B97;
}

h2 {
    font-size: 20px;
}

.job-title {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #898dbe;
    background-color: #1726AD;
}

p {
    padding: 10px 0;
}

#high {
    color: rgb(13, 27, 151);
}

footer ul {
    padding: 10px;
    background-color: #333333;
    color: rgb(223, 215, 185);
}

footer h2 {
    padding-bottom: 20px;
}